$primary-color: #7895B2;
$secondary-color: #AEBDCA;
$terciary-color: #E8DFCA;
$background-color: #F5EFE6;
$background-color2: #fffcf5;

body {
    background-color: $background-color2;
}

main {
    margin: 2rem 4rem;
    
}

.card {
    
}