$font-color: #11324D;
$primary-color: #6B7AA1;
$secondary-color: #C1CFC0;
$terciary-color: #E7E0C9;
$background-color: #fffcf5;

body {
    background-color: $background-color;
}

main {
    margin: 2rem 4rem;
}

nav {
    background-color: whitesmoke;
}

.nav-link {
    color: $font-color;
}

.card {
    border-color: $secondary-color;
}

h1 {
    margin-bottom: 1rem;
}